body {
    font-family: sans-serif;
}
nav{
   border:1px solid black;
   margin: 10px;
   padding: 15px;
}

main{
    text-align: center;
      border-bottom:5px solid black;
}
h1{
    color: blue;
}
h2{
    color: rgb(255, 60, 0);
}
.teg{
    text-decoration: none;
    border:1px solid black;
    border-radius: 10px;
    padding: 6px;
    margin: 15px;
    background-color: rgb(0, 255, 221);
    color: black;
}
